.obsidian/plugins/
/.obsidian/plugins/
.obsidian/plugins/obsidian-tasks-plugin/
/.obsidian/plugins/obsidian-tasks-plugin/
.obsidian/workspace.json
/.obsidian/workspace.json
.obsidian/workspace-mobile.json
/.obsidian/workspace-/mobile.json
.trash/
/.trash/